body{
    background-color: #81ecec;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    height: 42vh;
    width: 45vw;
    border-radius: 15px;
}
.button{
    text-align: center;
    background-color: rgb(17, 85, 186);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.q{
    margin-left: 10px;
}
.margin{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
.res{
    text-align: center;
    font-size: 40px;
}